* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff75e1; 
  padding: 50px;
  text-align: center;
}

header h1 {
  color: white;
  font-family: monospace;
  font-size: 50px;
}

#cart {
  background-color: lightpink;
  color: darkred;
  width: 500px;
  min-height: 300px;
  padding: 10px;
}

#cart p {
  margin: 100px;
  font-size: 30px;
  font-family: monospace;
}

footer {
  background-color: darkred;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: monospace;
}

#product-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
